<p id="notice"><%= notice %></p>

<h1>Mockexams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mockexams.each do |mockexam| %>
      <tr>
        <td><%= mockexam.name %></td>
        <td><%= mockexam.level_id %></td>
        <td><%= mockexam.subject_id %></td>
        <td><%= link_to 'Show', mockexam %></td>
        <td><%= link_to 'Edit', edit_mockexam_path(mockexam) %></td>
        <td><%= link_to 'Destroy', mockexam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mockexam', new_mockexam_path %>
